@font-face {
  font-family: 'Product Sans1';
  src: url('fonts/Product Sans Regular.ttf')  format('truetype'); 
}
@font-face {
  font-family: 'Product Sans2';
  src: url('fonts/Product Sans Bold.ttf')  format('truetype'); 
}

body {
	font-family: 'Product Sans1', sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)), url("img/kazuha.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
	background-color: #fff;
	color: white;
	font-size: 20px;
}

li {
  list-style-type:disc;
}

a, a:hover, a:focus, a:active, a:visited {
	text-decoration:none;
	color: #fff;
}

h1.timing {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 8.2rem;
}

.hello {
  text-align: center;
}

h1.hello {
	margin-top: 5%;
  font-size: 2.45rem; 
}

.input_box {
	border:none;
  border-radius: 30px;
	min-width: 800px;
	padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	outline: 0;
	margin-bottom: 20px;
  
}

.container{
    display: grid;
    grid-gap: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    grid-template-columns: repeat(3,1fr);
    justify-items:top;
}
.category{
    text-align: left;
    font-size: 20px;
    align-self: top;
    background: rgba(0, 0, 0, 0.5);
    padding: 12%;
    padding-top: 8%;
    border-radius: 30px;
}
